.row {
	font-size: 0;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.block {
	border: solid 1px black;
	display: inline-block;
	font-size: 0;
	height: 100%;
}
.row1 {
	height: 200px;
}

.row2 {
	height: 300px;
}

.green_block {
	background-color: green;
	width: 50%;
}

.blue_block {
	background-color: blue;
	width: 50%;
}

.gray_block {
	background-color: gray;
	width: 33.33%;
}

.black_block {
	background-color: black;
	width: 33.33%;
}

.orange_block {
	background-color: orange;
	width: 33.33%;
}